<li class="nav-item">
   <%= link_to 'カードリスト共有について', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to '利用規約', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to 'プライバシーポリシー', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to 'お問い合わせ', '#', class: 'nav-link' %>
</li>