<li class="nav-item">
   <%= link_to 'カードリスト共有について', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to '利用規約', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to 'プライバシーポリシー', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/1PfOOqQ27UnOL1HFo5clqsXTXPYaHAdT__epPc4Jd-7Q/prefill', class: 'nav-link' %>
</li>