<% content_for(:title, t('.title')) %>
<div class="grid grid-cols-10 gap-5 mx-auto">
  <% if @cards.present? %>
    <%= render partial: 'card', collection: @cards %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
</div>